<template>
  <el-container>
  <el-header></el-header>
      <el-form ref="form" :model="form" :rules="rules" label-width="80px">
  <el-main class="box">
    <el-header class="box-header" height="100px">
     <el-steps :active="active" finish-status="success">
        <el-step title="基本信息"></el-step>
        <el-step title="地址信息"></el-step>
        <el-step title="注册成功"></el-step>
    </el-steps>
  </el-header>


<el-main v-if="active==2">
  <center><h1><i class="el-icon-success"></i>注册成功！</h1></center>
</el-main>
  <el-main v-if="active==0">

    <div class="box-left">

  <el-form-item label="公司名称" required>
    <el-input v-model="form.companyName"></el-input>
  </el-form-item>
  
    <el-form-item label="VAT#">
    <el-input v-model="form.vatNumder"></el-input>
  </el-form-item>

     <el-form-item label="联系电话">
    <el-input v-model="form.phone"></el-input>
  </el-form-item>

    <el-form-item label="币种">
    <el-select v-model="form.currency" style="width:100%">
      <el-option v-for="(index,val) in currencys" :key="val" :label="pageAll(index.name,index.code)" :value="index.code"></el-option>
   
    </el-select>
  </el-form-item>

     <el-form-item label="网站地址">
    <el-input v-model="form.webSite"></el-input>
  </el-form-item>


    </div>
    <div class="box-right">

      <el-form-item label="外部编码">
       <el-input v-model="form.external_code"></el-input>
      </el-form-item>

       <el-form-item label="联系人">
       <el-input v-model="form.contactName"></el-input>
      </el-form-item>

       <el-form-item label="Email"  prop="email">
       <el-input v-model="form.email"></el-input>
      </el-form-item>

    <el-form-item label="类型" prop="type">
       <el-select v-model="form.type" style="width:100%">
      <el-option label="直客" value="DIRECT"></el-option>
      <el-option label="同行" value="PEER"></el-option>
    </el-select>
    </el-form-item>

       <el-form-item label="客户编码" prop="customerCode">
       <el-input v-model="form.customerCode"></el-input>
      </el-form-item>
    </div>

  </el-main>


<!-- 2 -->
  <el-main v-if="active==1">
  <div class="box-left">
   <el-form-item label="国家"  prop="countryCode">
        <el-select v-model="form.countryCode" style="width:100%"  @change="selectOne">
        <el-option v-for="(index,val) in address" :key="val" :label="index.name" :value="index.code"></el-option>
       
    </el-select>
   </el-form-item>

      <el-form-item label="行政区域">
        <el-select v-model="form.province" style="width:100%" :disabled="form.countryCode==''?true:false">
      <el-option v-for="(index,val) in address_details" :key="val" :label="index.name" :value="index.countryCode"></el-option>
       
    </el-select>
   </el-form-item>
  
   <el-form-item label="洲" >
       <el-input v-model="form.continent"></el-input>
   </el-form-item>


    <el-form-item label="城市" >
       <el-input v-model="form.city"></el-input>
   </el-form-item>

  </div>

  <div class="box-right">

     <el-form-item label="街道">
       <el-input v-model="form.street"></el-input>
   </el-form-item>


    <el-form-item label="邮政编码" prop="postCode">
       <el-input v-model="form.postCode"></el-input>
   </el-form-item>


      <el-form-item label="设置密码" prop="password">
       <el-input type="password" v-model="form.password"></el-input>
   </el-form-item>


    <el-form-item label="确认密码" prop="repassword">
       <el-input type="password" v-model="form.repassword"></el-input>
   </el-form-item>

  </div>


 <div class="box-foot">

   <el-form-item label="详细地址">
    <el-input type="textarea"  :rows="3" v-model="form.addrLine"></el-input>
  </el-form-item>
 </div>  
  </el-main>


     <el-footer class="box-footer">
       <el-button class="box-footer-btn" v-if="active==1" type="success" style="margin-top: 12px;"  @click="last">上一步</el-button>

        <el-button class="box-footer-btn" v-if="active==0" type="success" style="margin-top: 12px;" @click="next">下一步</el-button>

         <el-button class="box-footer-btn" v-if="active==1" type="primary" style="margin-top: 12px;" @click="submit('form')">提交</el-button>
     </el-footer>
  </el-main>
 </el-form>
  </el-container>
</template>

<script>
import {post,get} from "@/untils/user.js"
export default {
  
    data(){
         var validatePass2 = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('请再次输入密码'))
      } else if (value !== this.form.password) {
        callback(new Error('两次输入密码不一致!'))
      } else {
        callback()
      }
    }
        return{
            form:{
            companyName:'',
            vatNumder:'',
            phone:'',
            currency:'',
            webSite:'',
            external_code:'',
            contactName:'',
            email:'',
            type:'',
            customerCode:'',
            countryCode:'',
            province:'',
            continent:'',
            city:'',
            street:'',
            postCode:'',
            password:'',
            repassword:'',
            addrLine:''
            },
            active: 0,
            address:"",
            currencys:'',
            address_details:"",
            rules:{
               countryCode:[
                  { required: true, message: '请选择国家', trigger: 'blur' },
               ],
               postCode:[
                  { required: true, message: '请输入邮政编码', trigger: 'blur' },
               ],
               email:[
                 { required: true, message: '请输入邮箱地址', trigger: 'blur' },
                 { type: 'email', message: '请输入正确的邮箱地址', trigger: ['blur', 'change'] }
               ],
               customerCode:[
                  { required: true, message: '客户编码不能为空，必须是数字', trigger: 'blur'},
               ],
               type:[
                  { required: true, message: '请选择密码', trigger: 'blur' },
               ],
               password:[
                 { required: true, message: '请选择密码', trigger: 'blur' },
               ],
              repassword: [
                { required: true, validator: validatePass2, trigger: 'blur' }
               ]
            }
        }
    },
    created(){
      get('/auth/customer/queryAllCountry').then(res=>{
        if(res.code==200){
          this.address = res.body;
        }
      })

     get('/business/customer/care/dictionaryData/CURRENCY').then(res=>{
       if(res.code==200){
         this.currencys = res.body;
       }
     })
    },
    methods:{
      pageAll(name,code){
      return name +"-"+code
      },
      next() {
        if (this.active++ > 2) this.active = 0;
      },
      last(){
        if (this.active-- < 2) this.active = 0;
      },
      submit(formName){
          this.$refs[formName].validate((valid) => {
          if (valid) {
           post('/auth/customer/unexamined/create',this.form).then(res=>{
               if(res.code==200){
                 this.active=2
               }else{
                 this.active=0
               }
           })
          } else {
            console.log('error submit!!');
            return false;
          }
          })  // post("/business/customer/create")
      },
      selectOne(){
        // console.log(val)

        console.log(this.form.countryCode)
      let url = '/common/settings/subdivision/queryByCountryCode/' + this.form.countryCode
        get(url).then(res=>{
        if(res.code==200){
          this.address_details = res.body;
        }
      })
      }
    }
}
</script>


<style scoped>
.box{
 width: 80%;
 border-radius: 2px;
 margin: auto;
 box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
}
.box-left,.box-right{
  width: 45%;
  float: left;
}
.box-right{
  float: right;
}

.box-footer,.box-footer-btn{
text-align: right;
}

.box-foot{
  width:100%;
  clear:both;
}
</style>